.header {
  padding: 1.5em;
  background: #FFB300;
  position: fixed;
  left: 300px;
  top: 0;
  right: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);

  h1 {
    line-height: 1;
    margin: 0;
  }
}

.aside {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  background: white;
  box-shadow: 0 0 1px rgba(0,0,0,.26);

  h1 {
    line-height: 3rem;
    margin: 0;
    padding: .5em;
    text-align: center;
    box-shadow: 0 0 1px rgba(0,0,0,.26);
    text-transform: uppercase;
    font-size: 1.5rem;
  }
}

body {
  padding-top: 100px;
}