$cx-include-global-rules: true;
$cx-theme-primary-color: #558B2F;
$cx-default-input-width: 220px;

@import "~cx-theme-material/src/variables";
@import "~cx-theme-material/src/index";

@import "layout/index";
@import "routes/index";
@import "examples/index";
